<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.casita_v1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/house_modified"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/house_modified"
        android:supportsRtl="true"
        android:theme="@style/Theme.Casita_v1"
        tools:targetApi="31">
        <activity
            android:name=".LogOut"
            android:exported="false" />
        <activity
            android:name=".ProfileView"
            android:exported="false" />
        <activity
            android:name=".ImageShowingActivity"
            android:exported="false" />
        <activity
            android:name=".WritingReview"
            android:exported="false" />
        <activity
            android:name=".SelectedVenueAfterShow"
            android:exported="false" />
        <activity
            android:name=".ShowActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashScreen" />
        </activity>
        <activity
            android:name=".SignUpAdmin"
            android:exported="false" />
        <activity
            android:name=".AdminLogin2Changes"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".SpecificVenue"
            android:exported="false" />
        <activity
            android:name=".signingup"
            android:exported="false" />
        <activity
            android:name=".VenueList"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>